<%= Gon::Base.render_data %>

<div class="row">
  <div class="col-6">
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#new-modal">
      新規登録
    </button>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#edit-modal">
      記録の修正
    </button>
  </div>
</div>


<div class="row no-gutters">
  <div class="input-group col-sm-6 pr-sm-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">開始</span>
    </div>
    <input type="text" id="start-calendar" class="form-control bg-white text-center">
  </div>
  <div class="input-group col-sm-6 pl-sm-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">終了</span>
    </div>
    <input type="text" id="end-calendar" class="form-control bg-white text-center">
  </div>
</div>


<div class="row">
  <div class="col-6 col-sm-3">
    <input type="button" value="過去１週間" id="a-week-button" class="btn btn-success btn-block mt-3">
  </div>
  <div class="col-6 col-sm-3">
    <input type="button" value="過去２週間" id="two-weeks-button" class="btn btn-success btn-block mt-3">
  </div>
  <div class="col-6 col-sm-3">
    <input type="button" value="過去１ヶ月" id="a-month-button" class="btn btn-success btn-block mt-3">
  </div>
  <div class="col-6 col-sm-3">
    <input type="button" value="過去３ヶ月" id="three-months-button" class="btn btn-success btn-block mt-3">
  </div>
</div>

<canvas id="chart-weight" class="mt-5"></canvas>

<%= render 'modal', action: 'new', title: '新規登録' %>
<%= render 'modal', action: 'edit', title: '修正' %>

<dl class="searchbox">
<%= search_form_for @q do |f| %>
<div class="flex margin-top-10">
  <dt><%= f.label :体重検索 %></dt>
  <div class="input_space flex">
    <dd class="dd1"><%= f.number_field :weight_gteq, :class => 'text_field', :step => 0.1 %>以上〜</dd>
    <dd class="dd2"><%= f.number_field :weight_lt, :class => 'text_field', :step => 0.1 %>未満</dd>
  </div>
</div>
  <%= f.submit "検索", class: 'search-btn' %>
<% end %>
</dl>


<% @graphs.each do |graph| %>
  <div class="container graph_list">
    <p class="measure">計測日：<%= graph.graph_date %></p>
    <div class="row ">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="intake">
            <table>
              <thead>
                <tr class="intake_title">
                  <td scope="col">トータル摂取カロリー</td>
                  <th scope="col"><%= graph.intake_cal %>Kcal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>朝食</th>
                  <td data-label="朝食" class="price"><%= graph.morning_cal %>Kcal</td>
                </tr>
                <tr>
                  <th>昼食</th>
                  <td data-label="昼食"class="price"><%= graph.lunch_cal %>Kcal</td>
                </tr>
                <tr>
                  <th>夕食</th>
                  <td data-label="夕食"class="price"><%= graph.dinner_cal %>Kcal</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="consumption">
            <table>
              <thead>
                <tr class="consumption1_title">
                  <td scope="col">トータル消費カロリー</td>
                  <th scope="col"><%= (graph.total_consumption_cal + graph.user.basal_metabolism).round %>Kcal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>基礎代謝</th>
                  <td data-label="朝食" class="price"><%= (graph.user.basal_metabolism).round %>Kcal</td>
                </tr>
                <% if !graph.motion1.blank? %>
                  <tr>
                    <th><%= graph.motion1 %></th>
                    <td data-label="朝食" class="price"><%= graph.consumption1_cal %>Kcal</td>
                  </tr>
                <% end %>
                <% if !graph.motion2.blank? %>
                  <tr>
                    <th><%= graph.motion2 %></th>
                    <td data-label="朝食" class="price"><%= graph.consumption2_cal %>Kcal</td>
                  </tr>
                <% end %>
                <% if !graph.motion3.blank? %>
                  <tr>
                    <th><%= graph.motion3 %></th>
                    <td data-label="朝食" class="price"><%= graph.consumption3_cal %>Kcal</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="today_weight">
            <table>
              <thead>
                <tr class="today_cal_title">
                  <td scope="col">本日のカロリー</td>
                  <th scope="col"><%= (graph.cal_judge - graph.user.basal_metabolism).round %>Kcal</th>
                </tr>
              </thead>
            </table>
            <table class="margin_top_15">
              <thead>
                <tr class="today_weight_title">
                  <td scope="col">本日の体重</td>
                  <th scope="col"><%= graph.weight %>Kg</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
    </div>
  </div>
<% end %>